{% extends 'layout.html.twig' %}

{% block script %}
    <script src="http://www.webglearth.com/v2/api.js"></script>
    <script>
        function initialize() {
            var earth = new WE.map('earth_div');
            WE.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(earth);

            {% for webcam in webcams %}
                var marker = WE.marker([{{ webcam.location.latitude }}, {{ webcam.location.longitude }}]).addTo(earth);
                marker.bindPopup(
                    "<img src='{{ webcam.image.current.preview }}' height='100%' width='100%'><b>{{ webcam.location.city }}</b><br>" +
                    "longitude : {{ webcam.location.longitude }}<br />" +
                    "latitude : {{ webcam.location.latitude }}<br />" +
                    "<a href='/Video/picture/{{ webcam.id }}' class='popup'>view camera</a>",
                    {maxWidth: 150, closeButton: true});
            {% endfor %}

            var marker = WE.marker([45.7833, 3.0833]).addTo(earth);
            marker.bindPopup(
                "<img src='{{ disney.image.current.preview }}' height='100%' width='100%'><b>{{ disney.location.city }}</b><br>" +
                "longitude : 3.0833<br />" +
                "latitude : 45.7833<br />" +
                "<a href='/Video/picture/{{ disney.id }}' class='popup'>view camera</a>",
                {maxWidth: 150, closeButton: true});

            earth.setView([48.8534, 2.3488], 6);
        }
    </script>
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/home.css">
{% endblock %}

{% block title %}World's eyes{% endblock %}

{% block bodyopen %}<body onload="initialize()">{% endblock %}

{% block content %}
        <div id="earth_div"></div>
    </body>
{% endblock %}
